@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 34, 64, 89;
  --background-start-rgb: 105, 201, 255;
  --background-end-rgb: 136, 241, 187;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to right,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
